@{
    ViewData["Title"] = "About Page";
}
<!-- The about page -->
<h1>Get to Know Joel!</h1>

<!-- A list of the resources to learn more about Joel, including an image that opens up baconsale's webstie-->
<div style="text-align: center;">
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br/>
    <a href="https://baconsale.com/">Baconsale</a>
    <br/>
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" height="400">
    </a>
</div>