@model Movie

@{
}

<h1>Add Movie to your Private Collection</h1>

@* The form for submitting a movie to the collection *@
<form method="post">
    <input type="hidden" asp-for="MovieId" /> @* For tracking id for the edit and delete routes *@
    
    <label asp-for="CategoryId">Category: </label>
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br/>
    <br/>
    <label asp-for="Title">Title: </label>
    <input asp-for="Title"/>
    <br/>
    <br/>
    <label asp-for="Year">Year: </label>
    <input asp-for="Year"/>
    <br/>
    <br/>
    <label asp-for="Director">Director: </label>
    <input asp-for="Director"/>
    <br/>
    <br/>
    <label asp-for="Rating">Rating: </label>
    <select asp-for="Rating">
        <option value="">Select a Rating:</option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="UR">UR</option>
        <option value="NR">NR</option>
    </select>
    <br/>
    <br/>
    <label asp-for="Edited">Edited: </label>
    <div>
        <input type="radio" asp-for="Edited" value="true" id="EditedYes" />
        <label for="EditedYes">Yes</label>

        <input type="radio" asp-for="Edited" value="false" id="EditedNo" />
        <label for="EditedNo">No</label>
    </div>
    <br/>
    <br/>
    <label asp-for="LentTo">Lent To: </label>
    <input asp-for="LentTo"/>
    <br/>
    <br/>
    
    <br/>
    <br/>
    <label asp-for="Notes">Notes: </label>
    @* Remember to cap the notes box at 25 characters, in the model *@
    <input asp-for="Notes"/>
    <br/>
    <br/>

    <button type="submit">Submit Movie</button>
    
    @* This will display error message when data entry is missing or isn't correct based on the model validation *@
    <div asp-validation-summary="All"></div>
    
</form>
