@model Movie

@{
}

<h2>Are you sure you want to delete?</h2>
<h3>@Model.Title by @Model.Director</h3>
<form method="post">
    <input type="hidden" asp-for="MovieId" />
    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="MovieList">Cancel</a>
</form>